.tab_container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "companyName Details";
    /* gap:1em; */
}
.tab_container{
    border-width: 0.3rem;
    border-bottom: 0;
    border-top: 0;
    border-right: 0;
    padding: 1rem;
    /* margin-left: ; */
    border-style: solid;
    border-color: #0daeb8;
    animation: borderRotate 2s alternate infinite ;
}
.tab_container:first-child{
    border-radius: 5% 0 0 0;
}
.tab_container:last-child{
    border-radius: 0% 0 0 5%;

}
@keyframes borderRotate {
    0%   {      
        border-color: #0daeb8;
          
        }
    100% {
        border-color: #03282b;
          }
}
.CompanyHead:hover{
    color: #aaaaaa;
    letter-spacing: 1px;

}
.CompanyHead{
    color: #0daeb8;
    }
.tab_content{
    align-items: center;
    justify-content: center;
}
.tab_content >p {
    padding-bottom: 0.2rem;
}
.tab_content > ul >li{
    list-style: none;
    list-style-type: ">";
}
.tab_content > ul >li::marker{
    color: #0daeb8;
}
.tab_content > ul{
    padding: 1rem;
    line-height: 1.5rem;
}
.tab_content >h2> a:hover{
    text-decoration: underline;
}
/* .tab_active {
    display: none;
}
.content_active{
    display: none;
} */
@media screen and (max-width:650px){
    .tab_container{
      grid-template-columns:1fr;
      grid-template-areas:
        "companyName"
        "Details";
    
    }
    .CompanyHead{
        padding-bottom: 1rem;
        }
  }