.Contact_container{  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 2fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". Contact_Heading"
      "Contact_content Contact_content"
      "contact_Logo contact_Logo";

}
.ContactHeading{
    grid-area: Contact_Heading;
    display: flex;
    justify-content: right;
    align-items: center;
}
.contact_content{
    grid-area: Contact_content;
    padding-top: 4rem;
    grid: span;
    margin: 0 auto;
}
.contact_content{
    text-align: center;
}
.contact_content > * {
    margin-top: 1rem;
}
.Connect_button{
    min-width: 130px;
    min-height: 50px;
    background-color: #1a12318a ;
    border: none;
    border-radius: 15px 15px 15px 15px;
}
.Connect_button:hover{
    background-color: #1a1231dc ;
}
.contact_logo{
    grid-area: contact_Logo;
}
.contact_logo > span >a >img{
    margin-top: 4rem;
    max-width: 75%;
}
.contact_logo >span{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
/* background-color: #1a123148 ;
background-color: #1a1231dc ; */